DB_NAME=squid
DB_PORT=23798
DB_USER=user
DB_PASS=postgres
GQL_PORT=4350

HASURA_GRAPHQL_ENDPOINT=http://localhost:4350
HASURA_GRAPHQL_ADMIN_SECRET=testing
HASURA_GRAPHQL_UNAUTHORIZED_ROLE=public

# JSON-RPC node endpoints (wss or https)
# Use private endpoints in production! If deploying to Cloud:
# - use our RPC proxy service: https://docs.subsquid.io/cloud/resources/rpc-proxy/, OR
# - save your private url as a secret: https://docs.subsquid.io/cloud/resources/env-variables/#secrets
RPC_ENDPOINT=ws://localhost:9944

# RPC_ENDPOINT=wss://a1-planck.quantus.cat

# Uncommenting this line enables the debug mode
# More info at https://docs.subsquid.io/basics/logging/
#SQD_DEBUG=*

# Block to start syncing from - should be 0 for a full index, set to higher number
# for a partial sync, ie, for testing etc. 
START_BLOCK=0